{% if S_CAN_SHOW_POLL_INDEX %}
	<dl>
		<dt>
			<label>{{ lang('SHOW_POLL_ON_INDEX') ~ lang('COLON') }}</label>
		</dt>
		<dd>
			<div><label for="poll_on_index_no"><input type="radio" name="poll_on_index" id="poll_on_index_no" value="{{ constant('kasimi\\pollonindex\\ext::POLL_ON_INDEX_NO') }}"{% if POLL_ON_INDEX == constant('kasimi\\pollonindex\\ext::POLL_ON_INDEX_NO') %} checked{% endif %}> {{ lang('SHOW_POLL_ON_INDEX_NO') }}</label></div>
			<div><label for="poll_on_index_yes_indefinitely"><input type="radio" name="poll_on_index" id="poll_on_index_yes_indefinitely" value="{{ constant('kasimi\\pollonindex\\ext::POLL_ON_INDEX_YES_INDEFINITELY') }}"{% if POLL_ON_INDEX == constant('kasimi\\pollonindex\\ext::POLL_ON_INDEX_YES_INDEFINITELY') %} checked{% endif %}> {{ lang('SHOW_POLL_ON_INDEX_YES_INDEFINITELY') }}</label></div>
			<div><label for="poll_on_index_yes_end"><input type="radio" name="poll_on_index" id="poll_on_index_yes_end" value="{{ constant('kasimi\\pollonindex\\ext::POLL_ON_INDEX_YES_END') }}"{% if POLL_ON_INDEX == constant('kasimi\\pollonindex\\ext::POLL_ON_INDEX_YES_END') %} checked{% endif %}> {{ lang('SHOW_POLL_ON_INDEX_YES_END') }}</label></div>
		</dd>
	</dl>
{% endif %}
